html {
	color:#323232;
	font-family:"Open Sans", helvetica, arial, verdana;
	font-size: 0.9em;
	text-align: justify;
}
body{
	min-height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

/* background container */
#container {
	position:absolute;
	border: solid;
	border-color: darkgray;
	margin-left: 10px;
	margin-top: 10px;
	width:800px;
	height:400px;
}

#div_home{
	position:absolute;
	margin-top: 0px;
	margin-left: 20px;
}


#div_slider{
	position:absolute;
	margin-top: 50px;
	margin-left: 20px;
}

#div_cat{
	position:absolute;
	margin-top: 50px;
	margin-left: 50px;
}

/* map container */
#div_map {
	position:absolute;
	border: none;
	border-color: blue;
	width:800px;
	height:400px;
}

/* legend container */
#div_legende {
	position:absolute;
	border: none;
	border-color: red;
	margin-top: 160px;
	width:120px;
	height:240px;
}

/* date container */
#div_date {
	position:absolute;
	border: none;
	border-color: green;
	margin-left: 680px;
	width:120px;
	height:400px;
}

/* style de base des pays */
.cl_pays {
	fill: none;
	stroke: darkgray;
}

/* style de base des emprises */
.cl_emprises {
	opacity: 1;
}

/* style des limites du planisphère */
.plani {
  stroke: darkgray;
  stroke-width: 1px;
  fill: none;
}

/* texte de la légende */
.legend {
	font-family:"Open Sans", helvetica, arial, verdana;
  				font-size: 12px;
}

/* style des ronds pour les années */
circle.date {
	fill: rgb(255,230,214);
	opacity: 1;
	stroke: darkgray;
	stroke-width: 4;
	cursor: pointer;
}
/* style du rond pour l'année sélectionnée */
circle.dateselect {
	fill: rgb(255,100,0);
	opacity: 1;
	stroke: darkgray;
	stroke-width: 4;
}
/* style du triangle de la ligne des années */
path.triangle {
	stroke: darkgray;
	stroke-width: 4;
	fill: darkgray;
}
/* style de la ligne des années */
rect.ligne {
	fill: darkgray;
}
/* style du texte des années */
text.date {
	fill: darkgray;
	font-weight: bold;
}

/* style du rond pour une catégorie sélectionnée */
circle.catselect {
	fill: lightgray;
	opacity: 1;
	stroke: black;
	stroke-width: 2;
}
/* style du rond pour une catégorie non sélectionnée */
circle.catnoselect {
	fill: white;
	opacity: 1;
	stroke: black;
	stroke-width: 2;
}
/* style du texte des catégories */
text.cat {
	fill: gray;
	font-weight: bold;
}

.d3-slider {
    position: relative;
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    z-index: 2;
}

.d3-slider-range-vertical {
  background:#2980b9;
  left:0px;
  right:0px;
  position: absolute;
  top:0;
}

.d3-slider-vertical {
    width: .8em;
    height: 100px;
}      

.d3-slider-handle {
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    background: #eee;
    background: linear-gradient(to bottom, #eee 0%, #ddd 100%);
    z-index: 3;
}

.d3-slider-handle:hover {
    border: 1px solid #999999;
}

.d3-slider-vertical .d3-slider-handle {
    left: -.25em;
    margin-left: 0;
    margin-bottom: -.6em;      
}
